body {
        background-color: darkgray;
        margin: 0;
        padding: 0;
}

.inner {
        width: 50%;
        margin: 0 auto;
        background-color: black;
}

img {
        border: 1px solid darkgray;
        max-width: 100%;
}

ul {
        margin: 0;
        padding: 1px;
        list-style-type: none;
        display: flex;

}

li {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1px;
        margin: auto 0;
}

li a {
        font-size: x-large;
        color: white;
        text-decoration: none;
        border: 1px solid darkgray;
        padding: 1px;
}

li a:hover {
        border-color: white;
}

p {
        color: white;
        text-align: center;
}