body {
        background-color: darkgray;
        margin: 0;
        padding: 0;
        font-family: 'Courier New', Courier, monospace;
}



.inner {
        width: 66.67%;
        margin: 0 auto;
        background-color: black;
}

@media (aspect-ratio <= 1) {
        .inner {
                width: 100%;
        }
}



img {
        border: 1px solid darkgray;
        max-width: 100%;
}



ul {
        margin: 0;
        padding: 1px;
        list-style-type: none;
        display: flex;

}



li {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1px;
        margin: auto 0;
}

li a {
        font-size: 3vw;
        color: white;
        text-decoration: none;
        border: 1px solid darkgray;
        padding: 1px;
        width: 100%;
        text-align: center;
}

li a:hover {
        border-color: white;
}



p {
        color: white;
        text-align: center;
        font-size: large;
}
